@import "./Style.scss";

#about-container {
  @include flexCenter(row, space-between);
  height: 100vh;
  background-color: black;
  transition: 0.1s;
  margin: 20px;

  .about-left {
    width: 800px;
    h4 {
      padding: 20px;
      margin-top: 100px;
      color: white;
      font-size: 20px;
      font-weight: 400;
      text-align: center;
      // line-height: 130px;
    }
  }

  hr {
    height: 450px;
    width: 2px;
    background: white;
  }

  .about-right {
    h1 {
      transform: rotate(90deg);
      font-size: 100px;
      text-align: center;
      padding: 40px;
      color: white;
      @include text-gradient;
    }
  }
}

@media screen and (max-width: 480px) {
  #about-container {
    @include flexCenter(row, space-between);
    // align-items:self-start;
    height: 80vh;
    width: 60vh;
    background-color: black;
    background-image: url("/assets/backgrounds/line3.svg");
    background-size: cover;

    .about-left {
      margin-top: -350px;
      @include flexCenter(column, center);
      background-image: url("/assets/backgrounds/spill.svg");
      height: 200px;
      width: 180px;
      position: relative;

      left: 35px;
      text-align: center;

      h1 {
        color: white;
        font-size: 50px;
        line-height: 50px;
      }
    }

    .about-right {
      margin-top: -350px;
      position: relative;
      right: 150px;
      top: 150px;
      background-size: 100%;

      .about-right-container {
        background-color: rgba(0, 0, 0, 0);
        border-radius: 50px;
        backdrop-filter: blur(20px);
        height: 150px;
        width: 350px;

        h3 {
          font-size: 12px;
          padding: 40px;
          color: white;
          text-align: justify;
        }
      }
    }
  }
}
