@import "./Style.scss";


#about-container{
    @include flexCenter(row,space-between);
    height:100vh;
    background-color: black;
    // background-image: url('/assets/backgrounds/line3.svg');
    transition: 0.1s;

    .about-left{
        @include flexCenter(row, center);
        background-image: url('/assets/backgrounds/spill.svg');
        height:400px;
        width:400px;
        position:relative;
        left:100px;
        top:50px;
        text-align: center;
        transition-duration: 0.3s;

        &:hover{
            height:450px;
            width:450px;
            transform:translateY(-20px);
        }

        h1{
            color:white;
            font-size: 120px;
            line-height: 130px;
        }
    }
    
    .about-right{
        position:relative;
        right:180px;
        top:20px;
        background-size:100%;
        
        .about-right-container{
            height: 530px;
            width: 650px;
            border-radius:50px;
            transition:cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
            
            &:hover{
                background: rgb(135,48,223);
                background: linear-gradient(292deg, rgba(135,48,223,0.24702380952380953) 0%, rgba(41,255,191,0.2) 28%, rgba(0,0,0,0.8072478991596639) 59%); 
                backdrop-filter: blur(20px);
            }
            

            h3{
                font-size: 20px;
                text-align: justify;
                padding:40px;
                color:white; 
            }

        }
    }
}

@media screen and (max-width: 480px){

    #about-container{
        @include flexCenter(row ,space-between);
        // align-items:self-start;
        height:80vh;
        width:60vh;
        background-color: black;
        background-image: url('/assets/backgrounds/line3.svg');
        background-size: cover;
        
    
        .about-left{
            margin-top:-350px;
            @include flexCenter(column, center);
            background-image: url('/assets/backgrounds/spill.svg');
            height:200px;
            width:180px;
            position:relative;
            
            left:35px;
            text-align: center;
    
            h1{
                color:white;
                font-size: 50px;
                line-height: 50px;
            }
        }
        
        .about-right{
            margin-top:-350px;
            position:relative;
            right:150px;
            top:150px;
            background-size:100%;
            
            .about-right-container{
                background-color: rgba(0, 0, 0, 0);  
                border-radius:50px;
                backdrop-filter: blur(20px);
                height: 150px;
                width: 350px;
                
    
                h3{
                    font-size: 12px;
                    padding:40px;
                    color:white; 
                    text-align: justify;
                }
    
            }
        }
    }







}