@import "./Style.scss";

#about-container {
  @include flexCenter(column, center);
  height: 100vh;
  background-color: black;
  transition: 0.1s;
  margin: 40px;

  .about-up {
    h1 {
      font-size: 100px;
      text-align: center;
      @include text-gradient;
    }
  }

  .about-down {
    h4 {
      // transform: rotate(0deg);
      font-size: 20px;
      text-align: center;
      color: white;
    }
  }
}


@media screen and (max-width: 600px) {
  #about-container{
    align-items: center;
    
    .about-up{
      
      h1{
        font-size:80px;
      }
    }

    .about-down{
      h4{
        font-size:10px;
      }
    }
  }
}

 

    
