@import "./Style.scss";


#home-container{
    height:85vh;
    background-image: url('/assets/backgrounds/llline.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    margin-top: -50px;

    .home-content{
        position: relative;
        top:250px;
        padding: 100px;
        @include flexCenter(column, center);
        h4{
            margin-top:-100px;
            color:white;
            font-size:70px;
        }
        h3{
            margin:0px;
            @include text-gradient;
            font-size:80px;
            color:white;
            font-weight:900;
            }
        

    }
}

@media screen and (max-width: 600px) {
    #home-container {
      background:none;
      margin-left:30px;

      .home-content {
        padding: 60px; /* Adjust padding for smaller screens */
        top: 150px; /* Adjust top position for smaller screens */
        h4 {
          font-size: 3rem; /* Adjust font size for smaller screens */
        }
        h3 {
          font-size: 5rem; /* Adjust font size for smaller screens */
          text-align: center;
        }
      }
  }
  }