@import "./Style.scss";

#skill-container {
  margin-top:-200px;
  margin-bottom:200px;
  @include flexCenter(column, center);
}

#skill-container-left {
  overflow: hidden;
  white-space: nowrap;
  @include flexCenter(row, center);
  gap: 50px;
  h1 {
    color: white;
    font-size: 120px;
    text-align: center;
    @include text-gradient;
  }

  .logos {
    @include flexCenter(row, center);

    .logo-container {
      @include flexCenter(column, center);
      transition: 1s;
      background-color: rgba(0, 0, 0, 0.194);
      border-radius: 100px;
      height: 150px;
      width: 150px;
      justify-content: center;

      img {
        height: 100px;
        width: 100px;
        transition: 0.2s;
      }

      &:hover {
        img {
          transform: translateY(-10px);
        }
      }
    }
  }
}

#skill-container-right {
  margin-top: 100px;
  overflow: hidden;
  white-space: nowrap;
  column-gap: 50px;
  height: 150px;
  @include flexCenter(row, center);
  h1 {
    color: white;
    font-size: 120px;
    text-align: center;

    margin: 0px;
    padding: 0px;
    @include text-gradient;
  }

  .logos {
    @include flexCenter(row, center);

    .logo-container {
      @include flexCenter(column, center);
      transition: 1s;
      background-color: rgba(0, 0, 0, 0.194);
      border-radius: 100px;
      height: 100px;
      width: 150px;
      justify-content: center;

      img {
        height: 100px;
        width: 100px;
        transition: 0.2s;
      }

      &:hover {
        img {
          transform: translateY(-10px);
        }
      }
    }
  }
}




@media screen and (max-width: 480px){
  #skill-container-left {
    width:100vh;
    gap: 10px;
    h1 {
      font-size: 60px;
    }
  
    .logos {
      .logo-container {
        @include flexCenter(column, center);
        height: 70px;
        width: 70px;
        img {
          height: 60px;
          width: 60px;
        }
      }
    }
  }
  
  #skill-container-right {
    gap: 10px;
    h1 {
      font-size: 60px;
    }
  
    .logos {
      .logo-container {
        @include flexCenter(column, center);
        height: 70px;
        width: 70px;
        img {
          height: 60px;
          width: 60px;
        }
      }
    }
  }











}
