@import "./Style.scss";

#skill-container {
  margin-top:100px;
  margin-bottom:200px;
  @include flexCenter(column, center);
}

#skill-container-left {
  overflow: hidden;
  white-space: nowrap;
  @include flexCenter(row, center);
  gap: 50px;
  h1 {
    color: white;
    font-size: 120px;
    text-align: center;
    @include text-gradient;
  }

  .logos {
    @include flexCenter(row, center);

    .logo-container {
      @include flexCenter(column, center);
      transition: 1s;
      background-color: rgba(0, 0, 0, 0.194);
      border-radius: 100px;
      height: 150px;
      width: 150px;
      justify-content: center;

      img {
        height: 100px;
        width: 100px;
        transition: 0.2s;
      }

      &:hover {
        img {
          transform: translateY(-10px);
        }
      }
    }
  }
}

#skill-container-right {
  margin-top: 100px;
  overflow: hidden;
  white-space: nowrap;
  column-gap: 50px;
  height: 150px;
  @include flexCenter(row, center);
  h1 {
    color: white;
    font-size: 120px;
    text-align: center;

    margin: 0px;
    padding: 0px;
    @include text-gradient;
  }

  .logos {
    @include flexCenter(row, center);

    .logo-container {
      @include flexCenter(column, center);
      transition: 1s;
      background-color: rgba(0, 0, 0, 0.194);
      border-radius: 100px;
      height: 100px;
      width: 150px;
      justify-content: center;

      img {
        height: 100px;
        width: 100px;
        transition: 0.2s;
      }

      &:hover {
        img {
          transform: translateY(-10px);
        }
      }
    }
  }
}




@media screen and (max-width: 600px){

  #skill-container {
    margin-bottom:50px;
    @include flexCenter(column, center);
  }
  
  #skill-container-left {
    margin-top:150px;
    overflow: hidden;
    white-space: nowrap;
    @include flexCenter(row, center);
    gap: 50px;
    h1 {
      color: white;
      font-size: 50px;
      text-align: center;
      @include text-gradient;
    }
  
    .logos {
      @include flexCenter(row, center);
  
      .logo-container {
        @include flexCenter(column, center);
        transition: 1s;
        background-color: rgba(0, 0, 0, 0.194);
        border-radius: 100px;
        height: 80px;
        width: 80px;
        justify-content: center;
  
        img {
          height: 50px;
          width: 50px;
          transition: 0.2s;
        }
  
        &:hover {
          img {
            transform: translateY(-10px);
          }
        }
      }
    }
  }
  
  #skill-container-right {
    margin-top: 100px;
    overflow: hidden;
    white-space: nowrap;
    column-gap: 50px;
    height: 150px;
    @include flexCenter(row, center);
    h1 {
      color: white;
      font-size: 50px;
      text-align: center;
  
      margin: 0px;
      padding: 0px;
      @include text-gradient;
    }
  
    .logos {
      @include flexCenter(row, center);
  
      .logo-container {
        @include flexCenter(column, center);
        transition: 1s;
        background-color: rgba(0, 0, 0, 0.194);
        border-radius: 100px;
        height: 80px;
        width: 80px;
        justify-content: center;
  
        img {
          height: 50px;
          width: 50px;
          transition: 0.2s;
        }
  
        &:hover {
          img {
            transform: translateY(-10px);
          }
        }
      }
    }
  }
  
  

}
