@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');



@mixin flexCenter($flex-direction, $justify-content) {
    display: flex;
    align-items: center;
    justify-content:$justify-content;
    flex-direction:$flex-direction;
}

@mixin text-gradient{
  @keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
  background: linear-gradient(
        to right,
        #ffffff 30%,
        #29ffbfda 40%,
        #2970ff 50%,
        #8730df 60%,
        #494949 80%
        );
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            text-fill-color: transparent;
            background-size: 500% auto;
            animation: textShine 4s ease-in-out infinite alternate-reverse;

}


